h1 {
    color: rgb(228, 21, 135);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
    text-align: right;
}

p {
    color: #5808ec;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 45px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
    color: darkred;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px rgb(211, 11, 11) solid;
    padding:10px; align-content: center
}
    
input, textarea {
    padding:5px;
    margin:5px
}

body {background-color:limegreen;

}

div ol{color: magenta;

        
}

h3{color: brown;
}

